
{% extends 'index.html' %}
{% load static %}

{% block content %}

<style>
    .div1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        width: 80%; 
        margin: 0 auto; 
        
    }
    .row {
        display: flex;
        justify-content: space-between;
        width: 100%; /* Ensure the row takes full width */
    }

    .box {
        text-align: center;
        width: 45%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-left: 5%;
        height: 500px;
    }

    img {
        max-width: 100%; /* Adjust image size relative to its container */
        height: 65%;
        margin-bottom: 10px;
    }

    button {
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #2980b9;
    }
</style>

<div class="container div1" style="margin-top: 4%;">
    <div class="row">
        <div class="box" >
            <img src="{% static 'assets/img/new/11_Success-1.jpg'%}" alt="Looking for a job">
            <h2>Looking for a job?</h2><br>
            <button><a href="jobseeker_register">Register</a></button>
        </div>
        <div class="box" >
            <img src="{% static 'assets/img/new/3545798.jpg'%}" alt="Hiring an employee">
            <h2>Hiring an employee?</h2><br>
            <button><a href="recruiter_register">Register</a></button>
        </div>
    </div>
</div>
<br><br>
{% endblock content %}
